html {
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

body {
    margin: 0;
}

.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    margin: 0;
    background-color: bisque;
}

.titleName {
    margin-right: auto;
    padding-left: 20px;
}

.aboutMe {
    margin: 5px;
    font-size: 24px;
    align-self: center;
}

.workPage {
    margin: 5px;
    font-size: 24px;
    align-self: center;
}

.contactMe {
    margin: 5px;
    font-size: 24px;
    align-self: center;
}

.resumePage {
    margin: 5px;
    font-size: 24px;
    align-self: center;
    padding-right: 20px;
}

.backPicOne {
    background-image: url(../img/waterColor.jpg);
    height: 250px;
    width: 100%;
    position: relative;
}

.backPicOne h2 {
    position: absolute;
    bottom: -2px;
    right: -16px;
    padding-right: 40px;
    color: black;
    background-color: aqua;
    font-size: 36px;

 
   
}