html {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a:link {
    color: black;
    text-decoration: none;
}

.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    margin: 0;
    background-color: bisque;
}

.navBar a {
    color: black;
    text-decoration: underline;
}

.titleName {
    margin-right: auto;
    padding-left: 20px;
}

.aboutMe {
    margin: 5px;
    font-size: 24px;
    align-self: center;
}

.workPage {
    margin: 5px;
    font-size: 24px;
    align-self: center;
}

.contactMe {
    margin: 5px;
    font-size: 24px;
    align-self: center;
}

.resumePage {
    margin: 5px;
    font-size: 24px;
    align-self: center;
    padding-right: 20px;
}

.backPicOne {
    background-image: url(../img/waterColor.jpg);
    height: 250px;
    width: 100%;
    position: relative;
}

.backPicOne h2 {
    position: absolute;
    bottom: 8px;
    right: 10px;
    padding: 0 5px 5px 5px;
    color: black;
    background-color: bisque;
    font-size: 36px;
}

.divider {
    display: flex;
    align-items: center;
}


.aboutMeSection {
    display: flex;
    
}

.aboutMeSection h3 {
    font-size: 36px;
    margin-left: 50px;
   
}

.aboutMeSection p {
    margin-left: 75px;
    
}

.workSpacer {
    padding-left: 65px;
}

.workPageSection {
    font-size: 36px;
    display: flex;
    padding-left: 50px;

}

.workContainerOne {
    background-image: url(../img/workOne.jpg);
    height: 300px;
    width: 800px;
    position: relative;
    border-style: solid;
    border-color: aqua;
    border-radius: 5px;
    padding-left: 30px;
    text-decoration: none;
}

.workContainerOne h4 h6 {
    position: absolute;
    bottom: 8px;
    left: 10px;
    
}


.mern:link {
    color: black;
}

.secondRowCards {
    display: flex;
    padding-left: 153px;
}

.workContainerTwo {
    background-image: url(../img/workTwo.png);
    height: 300px;
    width: 383px;
    position: relative;
    border-style: solid;
    border-color: aqua;
    border-radius: 5px;
    padding-left: 30px;
}

.workContainerThree {
    background-image: url(../img/workThree.png);
    height: 300px;
    width: 383px;
    position: relative;
    border-style: solid;
    border-color: aqua;
    border-radius: 5px;
    padding-left: 30px;
}

.contactMeSection {
    display: flex;
}

#contactMeLink {
    font-size: 36px;
    padding-left: 50px;
}

.contactMeLinks {
    padding-left: 50px;
    align-self: center;
    text-decoration: underline;
}