html {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a:link {
    color: black;
    text-decoration: none;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin: 0;
    background-color: bisque;
}

.navBar a {
    padding: 20px;
    color: black;
    text-decoration: underline;
}

.titleName {
    margin-right: auto;
    padding-left: 20px;
}

.hero {
    background-image: url(../img/waterColor.jpg);
    height: 250px;
    width: 100%;
    position: relative;
    margin-top: 35px;
}

.hero h1 {
    position: absolute;
    bottom: 8px;
    right: 10px;
    padding: 0 5px 5px 5px;
    color: black;
    background-color: bisque;
    font-size: 36px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.mainTitles {
    text-align: center;
    padding: 20px;
    font-size: 36px;
}

.workPageSection {
    display: flex;
    flex-direction: column;
}

.workCards {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 15px;
    height: 300px;
    width: auto;
    position: relative;
    border-style: solid;
    border-color: aqua;
    border-radius: 5px;
    text-decoration: none;
}

#workContainerOne {
    background-image: url(../img/workOne.jpg);
}

#workContainerOne h4 h6 {
    position: absolute;
    bottom: 8px;
    left: 10px;
    
}

.secondRowCards {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#workContainerTwo {
    background-image: url(../img/workTwo.png);
    width: 383px;
    margin-right: 10px;
}

#workContainerThree {
    background-image: url(../img/workThree.png);
    width: 383px;
}

.contactMeLinks {
    text-align: center;
    text-decoration: underline;
}

.contactMeLinks a {
    padding: 0 20px 0 0;
}